body {
   display: flex;
   margin: 0;
   width: 100vw;
   height: 100vh;
   min-height: 350px;
   align-items: center;
   justify-content: center;
}

.treinaweb{
   --black: #000;
   --dark-blue: #34495e;
   --blue: #2980b9;
   --pixel-size: 20px;
   display: inline-grid;
   grid-template-rows: repeat(16, var(--pixel-size, 10px));
   grid-template-columns: repeat(16, var(--pixel-size, 10px));
}

.treinaweb__pixel {
  background-color: var(--color);
    animation-name: borders;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 1s;
   
}

@keyframes borders {
  from {border: 1px solid black;}
  to {border: 1px solid transparent;}
}
